body{
    background-color: rgb(255, 228, 233);
}
#l2{
    text-align: center;
    text-decoration: underline;
    color: rgb(216, 101, 120);
}
#l3{
    text-align: center;
    font-size: 90%;
    font-style: italic;
    color: rgb(189, 93, 93);
}
#l4{
    font-size: 200%;
    color: rgb(206, 0, 0);
}
#l5{
    color: rgb(221, 0, 173);
}